<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Tracker - Expenses</title>
  <link rel="stylesheet" href="expense.css">
  <script src="https://kit.fontawesome.com/0a38976342.js" crossorigin="anonymous"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>
  <div class="navbar-container">
    <nav class="navbar">
      <div class="navbar-brand"> <a class="nav-link" href="/expense.html">Expense Tracker</a></div>
      <div class="navbar-links">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/reports.html" id="reports">Reports <i class="fa fa-diamond" aria-hidden="true"></i></a>
        <a class="nav-link" href="/leaderboard.html" id="leaderboard"  title="Buy Premium Membership To Access Leaderboard">Leaderboard <i class="fa fa-diamond" aria-hidden="true"></i></a>
        <button id="premium" class="nav-link navbar-button" >Premium Membership <i class="fa fa-diamond" aria-hidden="true"></i></button>
        <button id="logoutLink" class="nav-link navbar-button">Logout</button>
      </div>
      <div class="hamburger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </nav>
  </div>
  
  <div class="expense-form-container">
    <form id="expense-form">
      <label for="amount">Expense Amount:</label>
      <input type="number" id="amount" name="amount" required>
      
      <label for="details">Expense Details:</label>
      <input type="text" id="details" name="details" required>
      
      <label for="category">Expense Category:</label>
      <select id="category" name="category" required>
        <option value="groceries">Groceries</option>
        <option value="utilities">Utilities</option>
        <option value="entertainment">Entertainment</option>
      </select>
      
      <button class="btn" type="submit" id="add-expense">Add Expense</button>
    </form>
  </div>
  <div class="table">
    <table  class="table-details" id="expense-list">
      <thead class="table-heading">
        <tr class="table-row">
          <th >Amount</th>
          <th >Details</th>
          <th>Category</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- Added expenses will show here -->
      </tbody>
    </table>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>

  <script src="expense.js"></script>
  <script src="premium.js"></script>
</body>
</html>
