* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar-container {
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 15px;
}

.nav-link {
  color: #007aff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #0056b3;
}

/* Hamburger menu styles */
.hamburger-menu {
  display: none;
  cursor: pointer;
  padding: 5px;
}

.hamburger-menu i {
  font-size: 24px;
}

/* Responsive design */
@media (max-width: 1024px) {
  .navbar-links {
    padding: 15px;
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .navbar-links.active {
    display: flex;
  }

  .hamburger-menu {
    display: flex;
    
  }
  .navbar {
    position: relative;
  }
}
.expense-form-container {
  width: 85%;
  margin: 0 auto;
  max-width: 500px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
}

#expense-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#expense-form label {
  flex-basis: 100%;
  font-weight: bold;
}

#expense-form input,
#expense-form select,
#expense-form button {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#expense-form button {
  background-color: #007aff;
  color: #fff;
  cursor: pointer;
}

#expense-form button:hover {
  background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 768px) {
  #expense-form input,
  #expense-form select,
  #expense-form button {
    flex-basis: 100%;
  }
}

table {
  max-width:80%;
  margin:0 auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.table-details {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.table-heading {
  background-color: #f2f2f2;
  border: none;
}

.table-row {
  background-color: #ffffff;
  border:none;
  border-radius: 5%;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

@media screen and (max-width: 600px) {
  th, td {
    padding: 8px;
  }

  .table-details {
    font-size: 10px;
    word-wrap: break-word;
  }
  .delete-button{
    font-size: 10px;
  }
  .navbar-brand{
    font-size: 18px;
  }
}

.delete-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.delete-button:hover {
  background-color: #f61e1ebc;
  color: #000000;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.categories::first-letter {
  text-transform:capitalize;
}

.fa-diamond{
	color: rgb(255,215,0);
}

.navbar-button{
  display: flex;
  position: relative;
  border: none;
  font-size: inherit;
  background-color: #ffffff;
  cursor: pointer;
}