<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <div class="login-container">
    <div class="page-title"><p>Reset Your Password</p></div>
    <form class="form-details" id="login-form">
      <label class="field-label" for="email">Username: </label>
      <input class="field-input" type="email" name="email" placeholder="Email" required><br>
      <button class="btn" type="submit">Reset Password</button>
    </form>
    <div id="message" class="message"></div>
    <span class="check-user-exist">Forgot Password?&nbsp;<a Password?a href="login.html">Login</a></span>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
  <script src="forgotPassword.js"></script>
</body>
</html>