<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Expense Tracker - Reports</title>
  <link rel="stylesheet" href="report.css">
  <link rel="stylesheet" href="expense.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script> -->
</head>
<body>
  <div class="navbar-container">
    <nav class="navbar">
      <div class="navbar-brand"> <a class="nav-link" href="/expense.html">Expense Tracker</a></div>
      <div class="navbar-links">
        <a class="nav-link" href="/expense.html">Home</a>
        <a href="#" id="reports" class="nav-link">Reports <i class="fa fa-diamond" aria-hidden="true"></i></a>
        <a href="/leaderboard.html" id="leaderboard" class="nav-link" title="Buy Premium Membership To Access Leaderboard">Leaderboard <i class="fa fa-diamond" aria-hidden="true"></i></a>
        <button  id="premium" class="nav-link navbar-button" >Premium Membership <i class="fa fa-diamond" aria-hidden="true"></i></button>
        <button id="logoutLink" class="nav-link navbar-button">Logout</button>
      </div>
      <div class="hamburger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </nav>
  </div>
  <div class="expense-container">
    <div class="report-btn-title">
      <h4 class="title">Expense Report &nbsp;<span><button class="download-btn" id="generatePdfButton">Download Reports</button></span></h4>
    </div>
    
  
    <table class="table-details"> 
      <thead>
        <tr class="table-heading">
          <th>Date</th>
          <th >Category</th>
          <th>Description</th>
          <th>Expense</th>
        </tr>
      </thead>
      <tbody id="expense-list">
       
      </tbody>
    </table>
    <div class="total-expense">
      <p>Total Expenses:&nbsp;</p>
      <span id="total-expense-amount">₹0.00</span>
    </div>
  </div>
  
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="reports.js"></script>
  <script src="premium.js"></script>
</body>
</html>
