.report-btn-title{
    box-sizing: border-box;
}
.title{
    color: rgb(18, 47, 2);
}

.download-btn{
    position: relative;
    left: 10px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #ff4d77;
}