<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
  
</head>
<body>
  <h1>Password Reset</h1>
  <form id="resetPasswordForm"  action="/reset-password/${resetId}" method="PUT"></form>
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <button type="submit">Reset Password</button>
  </form>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="reset.js"></script>
</body>
</html>
